.cards {
  padding: 20px 0 40px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* <ul> should not have padding or margins. */
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    padding: 20px 0 60px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
    width: 288px;
  }

  .cards__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
