.cards {
  padding: 20px 0 40px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: Poppins_Medium, "Arial", "sans-serif";
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* <ul> should not have padding or margins. */
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}
